#root {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem; /* Adjust the gap between grid items */
}
